<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Produk</title>
  </head>
  <body>
    {% if request.session.peran == 'pengguna' %}
    {% include "main/navbar_pengguna.html" %}
    <table border="1px">
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Harga_Jual</th>
        <th>Sifat Produk</th>
      </tr>
      

    {% for p in produk %}
        <tr>
            <td>{{ p.id }}</td>
          <td>{{ p.nama }}</td>
          <td>{{ p.harga_jual }}</td>
          <td>{{ p.sifat_produk }}</td>
        </tr>
    {% endfor %}

    {% elif request.session.peran == 'admin' %}
    {% include "main/navbar_admin.html" %}

    <table border="1px">
      <tr>
        <th>ID</th>
        <th>Nama</th>
        <th>Harga_Jual</th>
        <th>Sifat Produk</th>
      </tr>
      

    {% for p in produk %}
        <tr>
            <td>{{ p.id }}</td>
          <td>{{ p.nama }}</td>
          <td>{{ p.harga_jual }}</td>
          <td>{{ p.sifat_produk }}</td>
          <td>
            <form action="{% url 'produk:update_produk' %}" method="get">
              <input type="hidden" id="id" name="id" value="{{ p.id }}">
              <button type="submit" class="btn btn-info btn-sm">Update</button>
          </form>

          {% if p.deletion == True %}
          <form action="{% url 'produk:delete_produk' %}" method="get">
            <input type="hidden" id="id" name="id" value="{{ p.id }}">
            <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
          </form>
        {% endif %}
          </td>
        </tr>
    {% endfor %}

    {% endif %}


    </table>
  </body>
</html>