<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  {% include "main/navbar_pengguna.html" %}

    <div class="container">
        <form id="create_paket-koin" action="" method="POST">
          {% csrf_token %}
          <div id="form-input">
            <label for="id_To">Bibit Tanaman: Padi</label>
    
            <br><br>
            <label for="id_From">Jumlah:</label>
            <br>
            <input type="number" name="From">
            <br><br>
            <label for="id_To">XP: 5</label>
    
            <br><br>
            <input type="submit" value="Produksi">
          </div>
        </form>
      </div>
  
</body>
</html>