<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Penjualan</title>
</head>
<body>
    {% include "main/navbar_pengguna.html" %}
    <h1>Pengguna Create</h1>

    <div>
        <p>Email Pengguna : </p>
        <p>{{  }}</p><br>

        <p>Waktu Penjualan : </p>
        <p>{{  }}</p><br><br>

        <p>ID Pesanan : </p>
        <p>{{  }}</p><br>

        <p>Nama Pesanan : </p>
        <p>{{  }}</p><br>

        <p>Jenis Pesanan : </p>
        <p>{{  }}</p><br>

        <p>Status Pesanan : </p>
        <p>{{  }}</p><br><br>

        <p>Rincian Pesanan</p><br>

        <table>
            <th>
                <td>Nama Produksi</td>
                <td>Jumlah Produksi</td>
                <td>Subtotal</td>
            </th>
            <tr>
                
            </tr>
        </table>
    </div>
</body>
</html>