<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Adminz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lumbung
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/lumbung/">Lihat Isi Lumbung</a>
                <a class="dropdown-item" href="/lumbung/list_upgrade_admin">List Transaksi Upgrade Lumbung</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Koin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/koin/create_paket/">Buat Paket Koin</a>
                  <a class="dropdown-item" href="/koin/paket_koin_admin/">List Paket Koin</a>
                  <a class="dropdown-item" href="/koin/transaksi_pembelian_admin/">List Transaksi Pembelian Koin</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Aset
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/aset">Buat Aset</a>
                  <a class="dropdown-item" href="/aset/view">List Aset</a>
                  <a class="dropdown-item" href="#">Buat Hewan Menghasilkan Produk Hewan</a>
                  <a class="dropdown-item" href="/aset/hewan_menghasilkan_produk_hewan">List Hewan Menghasilkan Produk Hewan</a>
                  <a class="dropdown-item" href="#">Buat Bibit Menghasilkan Panen</a>
                  <a class="dropdown-item" href="/aset/bibit_menghasilkan_panen">List Bibit Menghasilkan Panen</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Koleksi Aset
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/koleksi-aset/">List Koleksi Aset</a>
                  <a class="dropdown-item" href="/pembelian-aset/list-transaksi">List Transaksi Pembelian Aset</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Produk
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/produk/create_produk/">Buat Produk</a>
                  <a class="dropdown-item" href="/produk/read_produk/">List Produk</a>
                  <a class="dropdown-item" href="/produksi/create_produksi/">Buat Produksi</a>
                  <a class="dropdown-item" href="/produksi/read_produksi/">List Produksi</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Histori Produksi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/histori_produksi/histori_hewan_admin">List Histori Produksi Hewan</a>
                  <a class="dropdown-item" href="/histori_produksi/histori_tanaman_admin">List Histori Produksi Tanaman</a>
                  <a class="dropdown-item" href="/proses-produksi/read_histori_pr_makanan">List Histori Produksi Makanan</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pesanan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/pemesanan/admin-create-pesanan">Buat Pesanan</a>
                  <a class="dropdown-item" href="/pemesanan/admin-list-pesanan">List Pesanan</a>
                  <a class="dropdown-item" href="/histori-penjualan/admin-read">List Histori Penjualan</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
              </li>
          </ul>
        </div>
      </nav>
</body>
</html>
